%turbo-frame#request
  .box
    %h4.title.is-4
      = fa 'fa-graduation-cap fa-fw'
      = t 'site.generic.edit'
      = t 'activerecord.models.qualification.one'
    = render partial: "form", locals: {user_request: user_request, qualification: qualification}
