%turbo-frame#request
  .box
    %h4.title.is-4= fa 'fa-list fa-fw', section.title
    .block.content= raw section.top.body
    - if editable
      = render partial: 'user/questions/question', collection: @answers, as: :answer, locals: {user_request: user_request} 
    - else
      = render @answers, locals: {user_request: user_request}
