%turbo-frame#request
  %h4.title.is-4.mt-3.mb-3
    = fa 'fa-folder-plus fa-fw'
    = t 'site.generic.edit'
    = t 'activerecord.models.career.one'
  .box= render partial: "form", locals: {user_request: user_request, career: career}
