%turbo-frame#request
  .box
    %h4.title.is-4.mt-3.mb-3
      = fa 'fa-briefcase fa-fw'
      = t 'site.generic.new'
      = t 'activerecord.models.career.one'
    = render partial: "form", locals: {user_request: user_request, career: career}
