%turbo-frame#request
  .box
    %h4.title.is-4.mt-3.mb-3
      = fa 'fa-folder-plus fa-fw'
      = t 'site.generic.edit'
      = t 'activerecord.models.addition.one'
    = render partial: "form", locals: {addition: addition, user_request: user_request}
