%turbo-frame#request
  .box
    %h4.title.is-4
      = fa 'fa-folder-plus fa-fw'
      = t 'site.generic.new'
      = t 'activerecord.models.addition.one'
    = render "form", addition: addition, user_request: user_request
