<p style="color: green"><%= notice %></p>

<h1>Additions</h1>

<div id="additions">
  <% @additions.each do |addition| %>
    <%= render addition %>
    <p>
      <%= link_to "Show this addition", addition %>
    </p>
  <% end %>
</div>

<%= link_to "New addition", new_addition_path %>
