.container
  %nav.navbar.has-background-primary-dark{role: 'navigation', aria_label: 'main navigation'}
    .navbar-brand
      %a.navbar-item.has-text-weight-bold.is-italic.is-size-5{href: root_path, data: {turbo_frame: 'yield'}}
        %span.icon
          %i.fas.fa-signature.fa-fw
        %span S
        Selezione

